
.button {
	-fx-border-color:grey;
	-fx-border-width:0 0 0 0;
	-fx-background-color: transparent
}


.button:hover{
	-fx-border-color:grey;
	-fx-border-width:0 0 1 0;
	-fx-background-color: transparent
}
.button:pressed{
	-fx-font-weight: bold;
	-fx-background-color:white;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: #d50000 ;
	-fx-border-color: orange ;
	-fx-border-radius: 20;
	-fx-border-width: 3;
	-fx-rotate: 10;
}
.list-cell {
    -fx-font-size: 1.2em ;
}
#searchButton{
	-fx-font-weight: bold;
	-fx-background-color:orange;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-border-color: Orange;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}
#searchButton:hover{
	-fx-font-weight: bold;
	-fx-background-color:white;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: orange ;
	-fx-border-color: orange ;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}
#customerButton{
	-fx-background-image:url("./grey_customerImage.png");
	-fx-background-size: 100% 100%;
	-fx-background-color: none ;
}
#customerButton:hover{
	-fx-background-image:url("./customerImage.png");
	-fx-background-size: 100% 100%;
	-fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-scale-z: 1.15;
    -fx-border-color: none ;
}
#employeeButton{
	-fx-background-image:url("./grey_employeeImage.png");
	-fx-background-size: 100% 100%;
	-fx-background-color: none ;
}
#employeeButton:hover{
	-fx-background-image:url("./employeeImage.png");
	-fx-background-size: 100% 100%;
	-fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-scale-z: 1.15;
    -fx-border-color: none ;
}
#title{
	-fx-font-family: 'Karmatic Arcade';
	-fx-text-fill: #1f1f1f;
	-fx-font-size: 50px; 
	-fx-alignment:center;
}
#create3{
	-fx-border :none;
	-fx-border-bottom: 2px solid black;
}
#create1{
	-fx-background-image:url("logo.png");
	-fx-background-size: 100% 100%;
	
}
#create{
	-fx-font-family: "Joystix"; 
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-background-color: orange ;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: white;
}
.text-field{
	-fx-border-color:grey;
	-fx-border-width:0 0 1 0;
	-fx-background-color: transparent
}
 